{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">          
{% endblock %}

{% block content %}
    <div class="token">{% csrf_token %}</div>
    <div class="row m-0">
        <div class="col-12 p-3">
            <div>Link: https://www.manomano.fr/scie-a-main-et-lames-de-scie-493</div>               
        </div>
        <div class="row m-0 p-0 border-top d-flex justify-content-left">
            <div class="col-8 col-md-4 col-lg-4 mt-2">
                <form action="{% url 'home' %}" method="GET">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="search" class="form-control custom-select rounded-0 border-2 border-dark" name="q" placeholder="Product Name">
                        <button class="btn btn-outline-dark bg-dark text-light rounded-0 input-group-append ml-auto search-button" type="submit"><div class="text">Search</div></button>
                    </div>                
                </form> 
            </div> 
            <a class="col-4 col-md-4 col-lg-2 btn btn-info h1 mt-2" href="{% url 'home' %}">Reset Search</a>      
        </div>
        <div class="col-12 mt-3">
            <a class="btn btn-warning h1 refresh" href="{% url 'extractor' %}">Refresh Data</a>            
            <a class="btn btn-info h1" href="{% url 'data_view' %}">History View</a>                                          
        </div>                      
        <div class="col-12 text-center h4">{{ count }} Products</div>              
    </div>    
    {% for product in products %}        
        <div class="row m-1">
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12">                
                    <a href="{% url 'product_details' product_id=product.id %}">{{ product.id }}.{{ product.product_name }}</a>
                </div>
            {% else %}
                <div class="col-12 bg-secondary"> 
                    <a href="{% url 'product_details' product_id=product.id %}">{{ product.id }}.{{ product.product_name }}</a>
                </div>
            {% endif %}                   
        </div>    
    {% endfor %}           
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
{% endblock %}