{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">          
{% endblock %}

{% block content %}
    <div class="h1 text-center">Data History</div>    
    <div class="row m-0">        
        <div class="col-12 mt-3">
            <a class="btn btn-dark h1" href="{% url 'data_view' %}">back</a>
            <a class="btn btn-success h1 refresh" href="{% url 'save_database' history_id=data.id %}">Save database</a>
        </div>
        <div class="col-12 border-bottom">Previous Runs</div>       
        {% for result in history %}
            <a href="{% url 'previous_run' run_id=result.id %}">{{ forloop.counter }}.{{ result.created_at }}</a>
        {% endfor %}        
        {% if products %}                                 
            <div class="col-12 text-center h4">{{ products|length }} Products</div>        
            <div class="col-12 text-center h4">Saved on: {{ date }}</div>         
        {% else %} 
        {% endif %}                
    </div>  
    {% for product in products %}        
        <div class="row m-1 mb-3 border-bottom border-dark">            
            <div class="bg-secondary"><b>{{ product.id }}.{{ product.product_name }}</b></div>
            <div class="col-12"><b>Product URL:</b><a href="{{ product.product_url }}" target="_blank">{{ product.product_url }}</a></div>
            <div class="col-12"><b>Product image URL:</b><a href="{{ product.product_image_url }}" target="_blank">{{ product.product_image_url }}</a></div>
            <div class="col-12"><b>Product rating:</b> {{ product.product_rating }}</div> 
            <div class="h5 text-center border-bottom">Offers</div>
            <div class="col-4 text-center border-bottom">Seller name</div>
            <div class="col-4 text-center border-bottom">Is Main Seller</div>
            <div class="col-4 text-center border-bottom">Product price</div>
            {% for offer in product.offers %}
                {% for key, value in offer.items %}
                    <div class="col-4 text-center">
                        {{ value }}
                    </div>                        
                {% endfor %}
            {% endfor %}              
        </div>    
    {% endfor %}              
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
{% endblock %}